/* top */
.header-bg{
    background: linear-gradient(160deg, #E7D490 10%, #C6AB45 40%);
}
.big-bg{background-color: rgb(255, 253, 240);}
.footer-lineh{ line-height:34px;}
.nav-bg{background-color: rgb(255, 253, 240);}
.Selection-bg{ background:url(../images/bg-img1.png) no-repeat fixed;
    background-size:cover;}
/* font */
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Oswald:wght@500&family=Playfair+Display:ital,wght@1,500&display=swap');
.font1{
    font-family: 'Hedvig Letters Serif', serif !important; 
    color: #C6AB45;
    font-style: italic;
}
.font2{
    font-family:  'Oswald', sans-serif  !important;
}
.font3{
    font-family:'Playfair Display', serif !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg:#C6AB45;
}
.nav-link{
    color: #C6AB45;
}
.font-color-y{ color: #C6AB45;}
.nav{
    --bs-nav-link-color: #C6AB45;
    --bs-nav-link-hover-color: #ddb41d;
}

/*  */
.cakes-text{
     background-color: rgba(0, 0, 0, 0.364);
     /* height:100%;
     padding-top:20%; */
    }

.hot-imgs:hover {
    transform: scale(1.02);}

.center-table{
    display: table;
    margin: 0 auto;
}



